@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-background: #ffffff;
  --color-surface: #f4f3ec;
  --color-text: #08060d;
  --color-text-muted: #6b6375;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #16171d;
    --color-surface: #1f2028;
    --color-text: #f3f4f6;
    --color-text-muted: #9ca3af;
  }
}

body {
  @apply bg-background text-text antialiased;
}
